.header-div{
    display: flex;
    justify-content: center;
    height: 30px;
    color: #292F36;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.AC-div{
    display: flex;
    justify-content: center;
    height: 40px;
    color: #292F36;
    font-size: 1.2rem;
    font-weight: 700;
}
.cart-container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.info {
    font-size: 18px;
}
.cart {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-left: 20px;
}
.info-container {
    flex: 1;
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-left: 10px;
    align-items: flex-start;
}
.up{
    display: flex;
    align-items: top;
    height: 150px;
    width: 300px;
}
.image{
    width: 220px;
    height: 150px;
    border-radius: 20px;
}
.custom-button {
    border-radius: 17px;
    align-content: center;
    color: #ffffff; 
}
.buy-button {
    border-radius: 17px;
    align-content: center;
    color: #ffffff; 
    margin: 30px;
}
.divide{
    height: 80px;
}