<p class="ratings-text">App Ratings</p>
<div class="main-rating-div">
    <div class="vertical">
    <div class="first">
        <div>Excellent!</div>
        <br>
        <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="true" class="average"></ngb-rating>
    </div>
    <div class="other">
            <div class="divide">
                <div class="left">
                    <ngb-rating [max]="5" [(rate)]="starRating1" [readonly]="true"></ngb-rating>
                </div>
                <div class="right">
                    11/6/2023
                </div>
            </div>
             <div class="comment">
                Easy to book, great communications and excellent tour
             </div> 
             <div class="left">
                <b>marko99</b>
            </div>
    </div>
    <div class="other">
        <div class="divide">
            <div class="left">
                <ngb-rating [max]="5" [(rate)]="starRating1" [readonly]="true"></ngb-rating>
             </div>
             <div class="right">
                1/8/2023
             </div>
             </div>
             <div class="comment">
                It was an eye-opening experience.
             </div>
             <div class="left">
                <b>zeka</b>
             </div>
    </div>
    <div class="other">
        <div class="divide">
                <div class="left">
                    <ngb-rating [max]="5" [(rate)]="starRating1" [readonly]="true"></ngb-rating>
                </div>
                <div class="right">
                    11/2/2022
                </div>
            </div>
             <div class="comment">
                Great great great
             </div>
             <div class="left">
                <b>luka1304</b>
            </div>
        </div>
        <div class="other">
            <div class="divide">
                    <div class="left">
                        <ngb-rating [max]="5" [(rate)]="starRating1" [readonly]="true"></ngb-rating>
                    </div>
                    <div class="right">
                        23/5/2022
                    </div>
                </div>
                 <div class="comment">
                    Good guide, clear spoken English. Good walking pace. Good price.
                 </div>
                 <div class="left">
                    <b>mikimiki</b>
                </div>
            </div>
    </div>
</div>
