<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="inputNameTour" class="form-label">Name:</label>
                <input type="text" name="inputNameTour" id="inputNameTour" class="form-control" [(ngModel)]="tour.name">
            </div>
            <div class="mb-3">
                <label for="inputDescriptionTour" class="form-label">Description:</label>
                <input type="text" name="inputDescriptionTour" id="inputDescriptionTour" class="form-control" [(ngModel)]="tour.description">
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="inputDifficultyTour" class="form-label">Difficulty:</label>
                <input type="number" min="0" max="10" name="inputDifficultyTour" id="inputDifficultyTour" class="form-control" [(ngModel)]="tour.difficult">
            </div>
            <div class="mb-3">
                <label for="inputTagsTour" class="form-label" class="form-label">Tags:</label>
                <input type="text" name="inputTagsTour"  [(ngModel)]="tourTags" disabled class="form-control">
                <select class="form-select mt-3" [(ngModel)]="selectedTag">
                    <option value="adventure">Adventure</option>
                    <option value="sports">Sports</option>
                    <option value="food">Food</option>
                    <option value="social">Social</option>
                    <option value="nature">Nature</option>
                </select>
                <button class="btn btn-outline-primary mt-3 me-3" (click)="addTag(selectedTag)">Add new tag</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mb-3">
            <label class="form-label">Checkpoints:</label>
            <ul class="list-group">
                <li class="list-group-item"> <!-- ngFor goes here -->
                    <div *ngFor="let point of tour.points" class="d-flex justify-content-between">
                        <p class="justify-content-start">{{point.name}}</p>
                        <div>
                            <button class="btn btn-outline-danger" (click)="removePoint(point)">Remove</button>
                        </div>
                    </div>

                </li>
            </ul>
            <div>
                <label for="inputForPointName" class="form-label">Point name: </label>
                <input type="text" name="inputForPointName" id="inputForPointName" class="form-control" [(ngModel)]="pointForAdd.name">
                <label for="inputForPointName" class="form-label">Point description: </label>
                <input type="text" name="inputForPointName" id="inputForPointName" class="form-control" [(ngModel)]="pointForAdd.description">
                <label for="inputForPointName" class="form-label">Point picture: </label>
                <input type="text" name="inputForPointName" id="inputForPointName" class="form-control" [(ngModel)]="pointForAdd.picture">
                <button class="btn btn-outline-primary mt-3 me-3" (click)="addCheckpoint()">Add Checkpoint</button>
            </div>
        </div>
        <div class="col-6 mt-4">
                <div id="mapDiv" style="height: 350px; width: 700px;"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <div class="mb-3">
                <label for="inputLengthTour" class="form-label">Length (km):</label>
                <input type="number" name="inputLengthTour" id="inputLengthTour" class="form-control" [(ngModel)]="tourLength" disabled>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <label for="inputRequiredTimeTour" class="form-label">Required time (minutes):</label>
                    <input type="number" name="inputRequiredTimeTour" id="inputRequiredTimeTour" class="form-control" [(ngModel)]="requiredTime.minutes" disabled>
                </div>
                <div class="col-6">
                    <label for="inputLengthTour" class="form-label">Transport type:</label>
                    <select class="form-select" [(ngModel)]="requiredTime.transportType" (change)="changeTransportType()">
                        <option selected>Select one</option>
                        <option value="TransportType.Walking">Walking</option>
                        <option value="TransportType.Bicycle">Bicycle</option>
                        <option value="TransportType.Car">Car</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="form-label">Price:</label>
                <input type="number" min="0" class="form-control" [(ngModel)]="tour.price">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <button class="btn btn-secondary" (click)="save()">Save</button>
        </div>
    </div>
</div>