<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" *ngFor="let person of people">
            <div class="card mb-4">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <div class="card-body">
                        <h3 class="card-title">{{person.Name}} {{person.Surname}}</h3>
                        <p class="card-body">{{person.Email}}</p>
                        <p class="card-body">{{person.Quote}}</p>
                    </div>
                    <button class="btn btn-outline-primary" 
                            (click)="follow(person)"
                            *ngIf="type === RECOMMENDED">Follow</button>
                    <button class="btn btn-outline-primary"
                            (click)="unfollow(person)" 
                            *ngIf="type === FOLLOWING">Unfollow</button>
                </div>
            </div>
        </div>
    </div>
</div>