
.custom-checkbox {
    transform: scale(2); 
}

.contains-points {
    color: red; 
    
}

.button-separator {
    margin: 0 10px; 
    white-space: nowrap;
}


.btn-outline-primary {
    margin-right: 10px; 
}